<h1>Stupid  Coaching </h1>
<form action="/ask" method="get">
  <label for="question">Ask your coach anything:</label>
  <input type="text" id="question" name="question" autofocus>
  <input type="submit" value="Ask!">
</form>

<p><%= @question %></p>
<p>-You</p>
<p><%= @response %></p>
<p>-Your Coach</p>
